nav {
    height: 64px;
}

nav img {
    width: 150px;
}

section {
    margin-top: 1rem;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: #78909c;
    color: white;
}