<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="nav-link active" href="#!">
      <img src="https://v4.angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="AngularJs">
    </a>

    <a href="https://github.com/fernandoarevalo/nexos-test">
      <i class="fab fa-github"></i>
      <span class="github-button">GitHub</span>
    </a>
  </nav>
</header>

<section class="container">
  <app-products></app-products>
</section>

<footer>
  <div class="footer-copyright text-center py-3">© 2018 realizado por Fernando Arévalo
  </div>
</footer>